version: '3.3'

services:
  gemini-reverse-api:
    build: .
    container_name: gemini-reverse-api
    restart: unless-stopped
    ports:
      - "8100:8100"
    env_file:
      - .env
    volumes:
      - ./web:/app/web:ro
